body {
    background-color: gainsboro;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

main {
    min-height: 100dvh;
    display: grid;
    place-content: center;

}

h1 {
    color: honeydew;
    font-size: 3rem;
}